* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't break width calculations */
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1a1a1a;
}

.profile-name {
  font-size: 22px;
  font-weight: bold;
}

section {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
}

.topmenu {
  display: flex;
  gap: 15px;
}

.topmenu a {
  padding: 8px 12px;
  color: #a0aec0;
  text-decoration: none;
}
.topmenu a:hover {
  color: white;
  font-weight: bold;
}
#home p,
h1 {
  text-align: center;
}
