* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.profile-name {
  display: flex;
  margin: 25px 0px;
  justify-content: left;
  font-size: 22px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
